/.vs
/x64
/x86

*.aps
*.log
*.tlog
*.sln
*.vcxproj.user
*.vcxproj
*.filters
*.cmake
!CMakeLists.ios.cmake
!ios.toolchain.cmake
CMakeCache.txt

*.nx
!resources/nx/*.nx
*.wz
Settings

/includes/WzLib

/.vscode
/build
/wz